*
!*/

# track this file
!.gitignore
!.gitmodules
!archive_script.py
!autorestarter.bat
!instructions.txt
!upload_video.py
!README.md
!requirements.txt

# whitelist everything in ./config/
#!whisper_package/